.places__paragraph {
    margin: 0;
    font-size: 18px;
    line-height: 167%;
    font-weight: 400;
    max-width: 484px;
    min-width: 288px;
    /* outline: orange 1px solid; */
}

.places__paragraph:nth-child(2) {
    margin: 24px 0 0 0;
}

@media screen and (max-width: 320px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 162%;
        margin: 0 16px;
    }
    .places__paragraph:nth-child(2) {
        margin: 24px 16px 0;
    }
}