.cover__text-positioning {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    /* border: 3px green solid; */
    /* position: relative; */
    /* transform: translate(0, -50%); */
    z-index: 2;
} 