.intro__list {
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 36px 0 0;
    padding: 0px;
    border: 1px solid red;
}

@media screen and (max-width:1024px) {
    .intro__list {
        margin: 32px 0 0;
    }
}