.places__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
    margin: 0 0 0 0;
    padding: 0;
    /* outline: green 1px solid; */
    text-justify: distribute;
}

/* .places__title:nth-child(n+2) {
    margin-top: 32px;
} */

@media screen and (max-width:769px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
    /* .places__title:nth-child(n+2) {
        margin-top: 24px;
    } */
}

@media screen and (max-width:320px) {
    .places__title {
        margin-left: 16px;
        font-size: 32px;
        line-height: 109%;
    }
    /* .places__title:nth-child(n+2) {
        margin-top: 16px;
    } */
}