.places__link {
    margin: 12px 0 0;
    font-size: 18px;
    line-height: 122%;
    text-decoration: underline;
    color: #ffffff;
}

.places__link:hover {
    opacity: 0.8;
    transition: opacity 1s;
}