.places__link {
    margin: 12px 0 0;
    font-size: 18px;
    line-height: 122%;
    text-decoration: underline;
    color: white;
}
.places__link:hover {
     opacity: 0.5;
     transition: opacity 1s;  
}