.cover__subtitle {
    margin: 32px 0 0;
    display: flex;
    max-width: 360px;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: white;
    /* border: royalblue 1px solid; */
}

@media screen and (max-width:500px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 114%;
        /* color: orangered; */
    }
}