.places__place_website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: yellow 1px solid;
}

@media screen and (max-width:768px) {
    .places__place_website {
        display: none;
    }
}