.places__place_paragraph {
    margin: 0;
    font-size: 18px;
    line-height: 167%;
}

.places__place_paragraph:nth-child(2) {
    margin: 24px 0 0 0;
}

@media screen and (max-width: 320px) {
    .places__place_paragraph {
        font-size: 16px;
        line-height: 162%;
        margin: 0 16px;
    }
    .places__place_paragraph:nth-child(2) {
        margin: 24px 16px 0;
        color: yellowgreen;
    }
}