.footer__link {
    margin: 0 0 0 18px;
    padding: 0px;
    /* border: 1px solid white; */
    /* background-color: tomato; */
}
.footer__link:nth-child(1) {
    margin-left: 0;
}

@media screen and (max-width:766px) {
    .footer__link {
        margin: 0px;
    }
}



