.footer__links {
    list-style: none;
    color: white;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .footer__links {
        margin: 0 118px 0 16px;
        flex-direction: column;
    }
}