.cover__background {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 740px;
    background-image: url(../../../images/cover-trains.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration-line: none;
    background-position: center;
    /* padding-top: calc(740 / 1184 * 100%); */
    /* padding: 20px; */
    justify-content: center;
    align-items: center; 
    /* position: absolute; */
    /* top:0;
    right: 0;
    left: 0; 
    bottom: 0; */
    /* padding-top: 50.17%; */
    /* opacity: 0.3; */

}
.cover__background::before {
    display: block; 
    opacity: 0.3;
    background-color: #2A2C2F;
    transition: opacity 1s;
    z-index: 1;
    content: '';
    color: white;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* outline: aqua 5px solid; */
}

.cover__background:hover::before {
    opacity: 0.8; 
    transition: opacity 1s;
}

@media screen and (max-width:1279px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width:1022px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 764px) {
    .cover__background {
        min-height: 200px;
    }
}




