.places__url-heading {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.2em;
    /* grid-column-start: 2; */
    text-transform: uppercase;
    margin: 0 0 0 0;
    /* outline: 1px solid gold; */
}