.footer__list-item {
    margin: 0 0 0 18px;
    padding: 0px;
}

.footer__list-item:nth-child(1) {
    margin-left: 0;
}

@media screen and (max-width:766px) {
    .footer__list-item {
        margin: 0px;
    }
}